<p style="color: green"><%= notice %></p>


<h1>Username:</h1>
<p><%= @user.username %></p>

<p>Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %></p>


<% if !@user.beer_clubs.empty? %>
  <h4>member of</h4>

  <ul>
   <% @user.beer_clubs.each do |beer_club| %>
     <li>
      <%= link_to beer_club %> 
     </li>
   <% end %>
  </ul>
<% end %>

<% if not @user.ratings.empty? %>

  <h4>ratings</h4>

  <ul>
   <% @user.ratings.each do |rating| %>
     <li>
      <%= rating %>
      <%= link_to 'delete', rating, data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %> 
     </li>
   <% end %>
  </ul>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
